@media(max-width: 850px){
    .menu-btn {
    display: block;
  }
  .nav-menu,.right-nav{
      display: none;
  }
  .menu-btn:hover {
    opacity: 0.5;
  }
  .product-box{
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  .product{
      margin-bottom: 50px;
  }
  .icons-boxs{
      grid-template-columns: repeat(4, 1fr);
  }
}
@media(max-width: 700px){
    .icons-boxs{
      grid-template-columns: repeat(2, 1fr);
  }
  .wrapper{
      display: none;
  }
  main p{
      display: none;
  }
  main h1{
      font-size: 30px;
      padding: 20px;
  }
  main h1 br{
      display: none;
  }
  .product{
      display: none;
  }
}
@media(max-width: 400px){
    .icons-boxs{
      grid-template-columns: repeat(2, 1fr);
  }
  .product{
      display: none;
  }
}
