@media (max-width: 700px) {
  .menu-btn {
    display: block;
  }
  .nav-menu,
  .right-nav {
    display: none;
  }
  .icons-boxs {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin: auto;
    padding-left: 30px;
  }
  .wrapper {
    display: none;
  }
  main p {
    padding: 10px 30px 0 30px;
    margin-bottom: 0px;
  }
  main h1 {
    padding: 0px 30px;
    margin-bottom: 40px;
    font-size: 35px;
  }
  main {
    margin-top: 30px;
  }
  .seach-box {
    padding: 0 25px 10px 25px;
  }
  .seach-box input[type="text"] {
    margin-bottom: 5px;
    width: 400px;
  }
  .seach-box button {
    width: 273px;
  }
  .product-box{
    flex-direction: column;
  }
  .packs-boxs{
    grid-template-columns: repeat(2, 1fr);
  }
  .packs-boxs a{
    margin-bottom: 10px;
  }
}
